.c-white {
  color: var(--avstpmr-white) !important;
}

.c-black {
  color: var(--avstpmr-black) !important;
}

.c-gray {
  color: var(--avstpmr-gray) !important;
}

.c-light-gray {
  color: var(--avstpmr-light-gray) !important;
}

.c-white {
  color: var(--avstpmr-white) !important;
}

.c-dark-blue {
  color: var(--avstpmr-dark-blue) !important;
}

.c-blue {
  color: var(--avstpmr-blue) !important;
}

.c-yellow {
  color: var(--avstpmr-yellow) !important;
}

.c-orange {
  color: var(--avstpmr-orange) !important;
}

.c-red {
  color: var(--avstpmr-red) !important;
}