.f {
  display: flex;
}

.a-s {
  align-items: flex-start;
}

.a-c {
  align-items: center;
}

.a-e {
  align-items: flex-end;
}

.j-s {
  justify-content: flex-start;
}

.j-c {
  justify-content: center;
}

.j-s {
  justify-content: space-between;
}

.j-e {
  justify-content: flex-end;
}