@spacer: 16px;

.mt-4 {
  margin-top: calc(16px * 1.5) !important;
}

.mb-4 {
  margin-bottom: calc(16px * 1.5) !important;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}